
<div class="container-fluid">

  <div class="header">
    <p>TuSegundazo.com</p>
    <img alt="img-carro" class="img-carro" src="assets/img/imagen-principal.png" />
  </div>

  <div class="table-container">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Marca</th>
            <th>Línea</th>
            <th>Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Renault</td>
            <td>Kangoo</td>
            <td>2017</td>
          </tr>
          <tr>
            <td>Chevrolet</td>
            <td>Spark</td>
            <td>2018</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  
  <div class="contact-info">
    <p>Contáctanos: +57 3102105253-info&#64;tusegundazo.com - &#64;tusegundazo</p>
  </div>


</div>
